:root {
    --green: #24cfa6;
    --black: #171717;
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background: #0c0c0c;
    color: white;
}

@font-face {
    font-family: nue;
    src: url(./NeueMachina-Regular_DQCmjH1st.ttf);
}

@font-face {
    font-family: hel;
    src: url(./HelveticaNowDisplay-Light_M4nzWhve6k_k7HolyzL10.woff2);
}

@font-face {
    font-family: helb;
    src: url(./HelveticaNowDisplay-Bold_VMHV5twUMR_2SBNfxj1ry.woff2);
}

@font-face {
    font-family: helm;
    src: url(./HelveticaNowDisplay-Medium_2wEhlmo-TD_wsqqEEwmJC.woff2);
}

@font-face {
    font-family: nuel;
    src: url(./NeueMachina-Light_gwWCZxVuQl.ttf);
}

@font-face {
    font-family: juana;
    src: url(./Fontspring-DEMO-juana-extralightit_toKzXEsfr.ttf);
}

.highlight {
    color: var(--green)
}

.italic {
    font-weight: 100;
    font-family: juana;
}

main>* {
    flex-shrink: 0;
}

main {
    height: fit-content;
    display: flex;
    flex-direction: column;
    width: 100%;
}

main .view {
    width: 100%;
    padding: 5rem;
}

#view1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0;
}

nav {
    width: 100%;
    padding: 14px 70px 7px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    isolation: isolate;
    z-index: 111;
    top: 0;
    transition: all 0.3s ease-in-out;
    color: #e9e9e9;
}

.navbar-1 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar-1 img {
    height: 45px;
}

.navbar-1 h4 {
    font-size: 0.95rem;
    font-family: nuel;
    font-weight: 500;
}

.navbar-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 55px;
}

.navbar-2 h4 {
    font-size: 0.90rem;
    font-family: nuel;
    font-weight: 200;
    cursor: pointer;
}

.navbar-2 h4 button {
    border: none;
    outline: none;
    background-color: var(--green);
    color: white;
    padding: 8px 24px;
    font-size: 15px;
    border-radius: 5px;
    font-family: helb;
    cursor: pointer;
}

.navbar-3 {
    display: none;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-family: nue;
}

.navbar-3 h4 i {
    padding: 6px 10px;
}

@media (max-width: 700px) {
    nav {
        padding: 12px 24px 6px;
        font-size: 1rem;
    }

    .navbar-2 {
        display: none;
    }

    .navbar-3 {
        display: flex;
    }
}

#view1 .top {
    margin: 2.5em;
}

#view1 .middle {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 4rem;
    flex-direction: column;
    position: relative;
    margin: 50px 0;
    font-size: clamp(10px, 1.2vw, 1rem);
}

#view1 .middle h1 {
    line-height: 0.845em;
    font-weight: 300 !important;
    font-family: nuel;
    font-size: 5.5em;

}

#view1 .middle .checkout {
    font-size: 1.5em;
}

.shadow-primary {
    box-shadow: 0px 0.7em 2em -1em var(--green);
}

/* .shadow-bottom {
    box-shadow: 0px 10px 10px -5px rgba(236, 236, 236, 0.6);
} */

.btn-primary {
    background-color: var(--green);
    color: black;
}

.btn {
    padding: 0.45em 1.5em;
    width: -moz-fit-content;
    width: fit-content;
    color: black;
    border-radius: 0.4em;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    font-family: helm;
}

.btn:hover {
    filter: brightness(1.08);
}


#view1 .middle .side-text {
    font-size: 0.95em;
    width: 14em;
    text-align: left;
    font-weight: 300;
    line-height: 1.2em;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translate(80%, -60%);
    font-family: hel;
    color: #e9e9e9;
}

#view1 .bottom {
    width: 100%;
    display: flex;
    justify-content: center;
}

#view1 .bottom .mileStones {
    display: flex;
    gap: 5.4em;
    padding-top: 1em;
}

#view1 .bottom .mileStones .mileStone {
    text-align: center;
    color: #e9e9e9;
    font-size: 1.4em;
}

#view1 .bottom .mileStones .mileStone h2 {
    font-family: helb;
}

#view1 .bottom .mileStones .mileStone p {
    font-family: nue;
}

@media (max-width: 760px) {
    #view1 .middle .side-text {
        display: none;
    }
}

@media (max-width: 600px) {
    #view1 {
        height: 85vh;
    }

    #view1 .middle {
        font-size: 0.60rem;
    }

    #view1 .middle .checkout {
        font-size: 2.2em;
    }

    #view1 .bottom .mileStones {
        gap: 3.5em;
    }

    #view1 .bottom .mileStones .mileStone {
        font-size: 1rem;
    }
}

#view2 {
    display: flex;
    justify-content: space-around;
    gap: 4rem;
    margin-top: 4rem;
    flex-direction: column;
    padding: 1rem;
}

#view2 .top {
    display: flex;
    align-items: center;
    width: 100%;
}

#view2 .top span {
    text-align: center;
    font-size: 3rem;
    line-height: 1.02em;
    width: 100%;
    font-family: nue;
    font-weight: 400;
}

#view2 .middle {
    display: flex;
    align-items: center;
    justify-content: center;
}

#view2 .middle .video-container {
    aspect-ratio: 16 / 9;
    position: relative;
    max-width: 68rem;
    border-radius: 1.7rem;
    overflow: hidden;
    width: 100%;
    border: none;
}

#view2 .middle .video-container iframe {
    height: 100%;
    width: 100%;
}

#view2 .bottom {
    display: flex;
    justify-content: center;
}

#view2 .bottom .btn {
    font-size: 1.5rem;
}

@media (max-width: 600px) {
    #view2 .top span {
        font-size: 1rem;
    }
}

#view3 {
    padding-top: 0;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin-top: 6rem;
    padding: 1rem;
}

#view3 .top h1 {
    font-size: 3em;
    font-weight: 300;
}

#view3 .top h1 span {
    font-family: nuel;
}

#view3 .bottom .courses {
    display: grid;
    gap: 2rem;
    row-gap: 7rem;
    grid-template-columns: repeat(auto-fill, minmax(23rem, 1fr));
    flex-wrap: wrap;
}

#view3 .bottom .courses .course-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#view3 .bottom .courses .course-wrapper .course {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: -moz-fit-content;
    width: fit-content;
    --body-padding: 1.8rem;
    --body-padding-vertical: 2rem;
    width: 100%;
    border-radius: 1rem;
    background-color: var(--black);
    text-decoration: none;
    color: white;
}

#view3 .bottom .courses .course-wrapper .course .course-image {
    aspect-ratio: 16 / 9;
    border-radius: 1rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    overflow: hidden;
    width: 100%;
    position: relative;
}

#view3 .bottom .courses .course-wrapper .course .course-img .sub-tags {
    position: absolute;
    top: 0.8em;
    right: 0.75em;
}

#view3 .bottom .courses .course-wrapper .course .course-img .sub-tags .sub-tag {
    background-color: #e9e9e9;
    color: #000;
    padding: 0.4em 1.3em;
    border-radius: 0.45em;
    text-transform: uppercase;
    font-size: 0.65rem;
    font-weight: 800;
    font-family: hel;
}

#view3 .bottom .courses .course-wrapper .course .course-img img {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

#view3 .bottom .courses .course-wrapper .course .course-body {
    flex: 1 0 auto;
    padding: var(--body-padding-vertical) var(--body-padding);
    padding-right: calc(var(--body-padding) - 0.2em);
    border-radius: 0.8rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    flex-grow: 1;
    letter-spacing: 0.02em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #e9e9e9;
}

#view3 .bottom .courses .course-wrapper .course .course-body .top {
    margin-bottom: 3rem;
}

#view3 .bottom .courses .course-wrapper .course .course-body .top h2 {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    font-size: 1.6em;
    justify-content: left;
    margin-bottom: 0.7rem;
    font-family: hel;
}

#view3 .bottom .courses .course-wrapper .course .course-body .top .tags {
    display: flex;
    gap: 1rem;
}

#view3 .bottom .courses .course-wrapper .course .course-body .top .tags small {
    color: white;
    font-size: 1.1em;
    width: fit-content;
    border-radius: 4px;
    text-transform: uppercase;
    padding: 0.3rem 0.8rem;
    background-color: #882727;
    font-family: helm;
}

#view3 .bottom .courses .course-wrapper .course .course-body .top .tags p {
    font-size: 1.1em;
    width: fit-content;
    border-radius: 4px;
    text-transform: uppercase;
    padding: 0.3rem 0.8rem;
    background-color: #2c2c2c;
    font-family: helm;
}

#view3 .bottom .courses .course-wrapper .course .course-body .bottom {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

#view3 .bottom .courses .course-wrapper .course .course-body .bottom .left span {
    font-size: 1.1rem;
    font-family: hel;
}

#view3 .bottom .courses .course-wrapper .course .course-body .bottom .left div {
    display: flex;
    gap: 1rem;
    align-items: center;
}

#view3 .bottom .courses .course-wrapper .course .course-body .bottom .left div p {
    font-size: 1.7rem;
    font-family: hel;
}

#view3 .bottom .courses .course-wrapper .course .course-body .bottom .left div strong {
    margin-left: -0.5rem;
    font-size: 1.2rem;
    font-family: hel;
}

#view3 .bottom .courses .course-wrapper .course .course-body .bottom .left div small {
    font-size: 1.3rem;
    font-family: hel;
    text-decoration: line-through;
    color: #7c7c7c;
}

#view3 .bottom .courses .course-wrapper .course .course-body .bottom .right div {
    margin-bottom: 0.5rem;
    background-color: white;
    color: black;
    font-size: 0.9rem;
    padding: 0.3rem 0.7rem;
    border-radius: 4px;
    font-family: helm;
}

#view3 .bottom .courses .course-wrapper .buy-now {
    width: 100%;
    font-size: 1.7rem;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
}

@media (max-width: 600px) {
    #view3 {
        padding: 6rem 0;
        gap: 2em;
        margin-top: 3rem;
    }
    #view3>* {
        padding: 0 4vw;
    }

    #view3 .bottom {
        padding: 0 0;
    }

    #view3 .bottom .courses {
        padding: 0 4vw;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        gap: 1rem;
    }

    #view3 .bottom .courses .course-wrapper {
        flex: 0 0 89%;
        scroll-snap-align: center;
    }

    #view3 .bottom .courses .course-wrapper .course {
        font-size: 1.1rem;
    }

    #view3 .top h1 {
        font-size: 1.5rem;
    }
    #view3 .bottom .courses .course-wrapper .course .course-body .top h2 {
        font-size: 1rem;
    }
    #view3 .bottom .courses .course-wrapper .course .course-body .top .tags small {
        font-size: 1rem;
    }
    #view3 .bottom .courses .course-wrapper .course .course-body .top .tags p {
        font-size: 1rem;
    }
}